.header{
    background: #a89344;
    color: white;
    position: sticky;
    top: 0;
}

.navigation{
    display: flex;
    justify-content: space-between;   
    align-items: center; 
}

.company{
    font-size: 2rem;
    margin: 1rem;
}

.navigationList{
    display: flex;
    list-style: none;
    font-size: 1.4rem;
}

.active{
    cursor: pointer;
    padding: .7rem 1rem;
    transition: .3s;
    border-radius: 5px;
}

@media (hover: hover) and (pointer: fine){
    .active:hover{
        color: #e5e5e5;        
    }
}