.navigation{
    background: #a89344;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;   
    align-items: center; 
    padding: 0 .5rem;
}

.company{
    font-size: 1.7rem;
}

.navigationList{
    display: flex;
    list-style: none;
    font-size: 1.2rem;
}

.active{
    cursor: pointer;
    padding: .7rem 1rem;
    transition: .3s;
    border-radius: 5px;
}

@media (hover: hover) and (pointer: fine){
    .active:hover{
        color: #e5e5e5;        
    }
}