.beerHilight{
    border: 1px solid grey;
}

.favoriteWrapper{
    text-align: right;
}

.beer{
    display: flex;
}

.beerImage{
    width: 20%;
}

.favoriteIcon{
    font-size: 1.2rem;
    color: blue;
}

.button{
    border: none;
    outline: none;
    cursor: pointer;
}