.pageContent{
    display: flex;
    flex-direction: column;
}

.mainContent{
    margin: 2rem 0;
                            /* navbar   footer   margin*/
    min-height: calc(100vh - 70.78px - 78.38px - 4rem);
}